<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Bloguin{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'post_list' %}">Lista de Posts</a></li>
    </ul>

    <!-- mostra um botão para logout se o usuário estiver logado -->
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">logout</button>
      </form>
    {% endif %}

  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
